.design-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  padding: 100px 0;
}

.design {
  display: flex;
  align-items: center;
  justify-content: center;
}

.timeline {
  width: 1400px;
  height: auto;
  /* max-width: 700px; */
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  display: grid;
  align-content: center;
}

.timeline-content {
  padding: 20px;
  background: #e2e8f0;
  -webkit-box-shadow: 0 1px 2px 0 rgb(0 0 0 / 0.05);
          box-shadow: 0 1px 2px 0 rgb(0 0 0 / 0.05);
  border-radius: 5px;
  padding: 1.75rem;
  transition: 0.4s ease;
  overflow-wrap: break-word !important;
  /* margin: 1rem;

  margin-bottom: 20px; */
  border-radius: 6px;

}

.timeline-component {
  margin: 0px 20px 20px 20px;
}



@media screen and (min-width: 768px) {
  .timeline {
    display: grid;
    grid-template-columns: 1fr 3px 1fr;
  }
  .timeline-middle {
    position: relative;
    background-image: linear-gradient(135deg, #f093fb 0%, #f5576c 100%);
    width: 3px;
    height: 100%;
  }
  .main-middle {
    opacity: 0;
  }
  .timeline-circle {
    position: absolute;
    top: 0;
    left: 50%;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-image: linear-gradient(135deg, #f093fb 0%, #f5576c 100%);
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }
}